<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Striped Table</h4>
                        <p class="card-description">
                            Worker Table
                        </p>
                        <a class="btn btn-success">Create Category</a>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Image
                                        </th>
                                        <th>
                                            No
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Surname
                                        </th>
                                        <th>
                                            Profession
                                        </th>
                                        <th>
                                            Settings
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="py-1">
                                            <img src="~/admin/images/faces/face1.jpg" alt="image" />
                                        </td>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Herman
                                        </td>
                                        <td>
                                            Beck
                                        </td>
                                        <td>
                                            Engineer
                                        </td>
                                        <td>
                                            <a class="btn btn-warning"><i class="mdi mdi-airballoon"></i></a>
                                            <a class="btn btn-danger"><i class="mdi mdi-delete-variant"></i></a>
                                            <a class="btn btn-primary"><i class="mdi mdi-panda"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>